Repository b12k/the-boilerplate-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --check --ignore-unknown, yarn stylelint, yarn eslint

refactor: extract renderSsr for try-complexity rule
  eslint.config.mjs
  src/server/middleware/ssr.middleware.ts
Due: yarn prettier --check --ignore-unknown, yarn eslint

refactor: enable prefer-temporal rule
  eslint.config.mjs
  src/server/middleware/language.middleware.ts
Due: yarn prettier --check --ignore-unknown, yarn eslint

refactor: enable prefer-global-this and prefer-module
  eslint.config.mjs
  nodemon.json
  src/client/entry.browser.ts
  src/client/store/home.store.ts
  swc-register.js
  swc-register.mjs
Due: yarn prettier --check --ignore-unknown, yarn eslint

refactor: rspack config review fixes
  rspack/config.base.ts
  rspack/config.browser.ts
  rspack/config.server.ts
  rspack/config.single.ts
  rspack/loaders.ts
  rspack/plugins.ts
Due: yarn prettier --check --ignore-unknown, yarn eslint

refactor: rspack asset modules and ssr externals
  package.json
  pnpm-lock.yaml
  rspack/config.server.ts
  rspack/loaders.ts
  rspack/utils.ts
Due: yarn prettier --check --ignore-unknown, yarn eslint

fix: point lazy compilation client at the dev server
  rspack/config.browser.ts
Due: yarn prettier --check --ignore-unknown, yarn eslint

fix: build image asset paths without duplicated dots
  rspack/loaders.ts
Due: yarn prettier --check --ignore-unknown, yarn eslint

fix: mark services as raw for pinia stores
  src/client/services/service-creators.ts
Due: yarn prettier --check --ignore-unknown, yarn eslint

refactor: rspack config review fixes (#43)
  package.json
  pnpm-lock.yaml
  rspack/config.base.ts
  rspack/config.browser.ts
  rspack/config.server.ts
  rspack/config.single.ts
  rspack/loaders.ts
  rspack/plugins.ts
  rspack/utils.ts
  src/client/services/service-creators.ts
Due: yarn prettier --check --ignore-unknown, yarn eslint

fix: remove esm build warnings
  package.json
Due: yarn prettier --check --ignore-unknown

fix: remove esm build warnings (#44)
  package.json
Due: yarn prettier --check --ignore-unknown

feat: enable store HMR and normalize server flags
  src/app/pages/page-home.vue
  src/app/store/context.store.ts
  src/app/store/home.store.ts
  src/app/store/index.ts
  src/app/store/utils/hot.ts
  src/app/store/utils/index.ts
  src/app/store/utils/initial-context-key.ts
  src/server/env.ts
  src/server/middleware/language.middleware.ts
  src/server/server.ts
  src/server/services/context-builder.service.ts
  src/server/services/ssr-assets.service.ts
  src/server/utils/override-env.ts
  type-shims/rspack-shim.d.ts
Due: yarn prettier --check --ignore-unknown, yarn stylelint, yarn eslint

chore: some minor improvements
  .env.example
  README.md
  rspack/config.browser.ts
  rspack/config.server.ts
  rspack/env.ts
  src/server/env.ts
  src/server/env/env-schema.ts
  src/server/env/env.ts
  src/server/env/index.ts
  src/server/server.ts
  src/server/services/cache/cache.service.ts
  src/server/services/cache/lru.cache.ts
  src/server/services/cache/redis.cache.ts
  src/server/services/context-builder.service.ts
  src/server/services/logger.service.ts
  src/server/utils/get-language.ts
  src/server/utils/live-reload.ts
  src/server/utils/override-env.ts
Due: yarn prettier --check --ignore-unknown, yarn eslint

Path conditions:
  yarn prettier --check --ignore-unknown: any of: *
  yarn stylelint: any of: *.{css,scss,vue,STYLELINT}
  yarn eslint: any of: *.{ts,vue,ESLINT}
