Repository b12k/the-boilerplate-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --check --ignore-unknown, yarn stylelint, yarn eslint

feat: redis chache with docker compose & docker container build setup
  .dockerignore
  .gitignore
  Dockerfile
  docker-compose.yaml
  package.json
  server.swcrc
  src/client/pages/page-one.vue
  src/server/env.ts
  src/server/idempotency.config.ts
  src/server/middleware/error.middleware.ts
  src/server/middleware/ssr.middleware.ts
  src/server/server.ts
  src/server/services/cache.service.ts
  src/server/views/500.njk
  src/server/views/index.njk
  yarn.lock
Due: yarn prettier --check --ignore-unknown, yarn stylelint, yarn eslint

feat: critical css changes
  src/server/env.ts
  src/server/idempotency.config.ts
  src/server/middleware/ssr.middleware.ts
  src/server/server.ts
  src/server/services/context-builder.service.ts
  src/server/services/critical-css.service.ts
  src/server/services/idempotency-key.service.ts
  src/server/views/_env.njk
  src/server/views/index.njk
Due: yarn prettier --check --ignore-unknown, yarn eslint

Feat/critical css changes (#33)
  .dockerignore
  .gitignore
  Dockerfile
  docker-compose.yaml
  package.json
  server.swcrc
  src/client/pages/page-one.vue
  src/server/env.ts
  src/server/idempotency.config.ts
  src/server/middleware/error.middleware.ts
  src/server/middleware/ssr.middleware.ts
  src/server/server.ts
  src/server/services/cache.service.ts
  src/server/services/context-builder.service.ts
  src/server/services/critical-css.service.ts
  src/server/services/idempotency-key.service.ts
  src/server/views/500.njk
  src/server/views/_env.njk
  src/server/views/index.njk
  yarn.lock
Due: yarn prettier --check --ignore-unknown, yarn stylelint, yarn eslint

feat: add render com
  render.yaml
Due: yarn prettier --check --ignore-unknown

Feat/render com added (#34)
  render.yaml
Due: yarn prettier --check --ignore-unknown

chore: change render plan
  render.yaml
Due: yarn prettier --check --ignore-unknown

fix: favicon is failing on render com
  src/server/server.ts
  src/server/views/index.njk
Due: yarn prettier --check --ignore-unknown, yarn eslint

fix: bad production folder path
  src/server/env.ts
  src/server/server.ts
Due: yarn prettier --check --ignore-unknown, yarn eslint

fix: for redis cache
  render.yaml
  src/server/env.ts
  src/server/services/cache.service.ts
Due: yarn prettier --check --ignore-unknown, yarn eslint

feat: telemetry headers
  .env.example
  render.yaml
  src/server/middleware/ssr.middleware.ts
Due: yarn prettier --check --ignore-unknown, yarn eslint

chore: log redis connection fails
  .env.example
  src/server/services/cache.service.ts
Due: yarn prettier --check --ignore-unknown, yarn eslint

chore: webpack helper
  render.yaml
  webpack/config.browser.ts
  webpack/utils.ts
Due: yarn prettier --check --ignore-unknown, yarn eslint

feat: improved linting, caching and rendering
  .env.example
  .eslintrc
  .gitignore
  docker-compose.yaml
  package.json
  src/client/components/base/base-header.vue
  src/client/components/base/base-icon.vue
  src/client/entry.browser.ts
  src/client/entry.server.ts
  src/client/index.ts
  src/client/pages/error-page.vue
  src/client/pages/page-not-found.vue
  src/client/pages/page-one.vue
  src/client/pages/page-three.vue
  src/client/pages/page-two.vue
  src/client/router/extract-components.ts
  src/client/router/routes.ts
  src/client/typings.d.ts
  src/server/env.ts
  src/server/idempotency.config.ts
  src/server/middleware/ssr.middleware.ts
  src/server/server.ts
  src/server/services/cache.service.ts
  src/server/services/cache/cache.service.ts
  src/server/services/cache/index.ts
  src/server/services/cache/lru.cache.ts
  src/server/services/cache/redis.cache.ts
  src/server/services/context-builder.service.ts
  src/server/services/critical-css.service.ts
  src/server/services/index.ts
  src/server/services/ssr-assets.service.ts
  src/server/utils/index.ts
  src/server/utils/string-to-base64.ts
  src/server/utils/wait.ts
  src/server/views/index.njk
  webpack/config.browser.ts
  webpack/config.server.ts
  webpack/env.ts
  webpack/utils.ts
  yarn.lock
Due: yarn prettier --check --ignore-unknown, yarn stylelint, yarn eslint

feat: webpack optimizations
  src/server/views/index.njk
  webpack/config.browser.ts
  webpack/plugins.ts
  webpack/utils.ts
Due: yarn prettier --check --ignore-unknown, yarn eslint

feat: updated dependencies
  package.json
  yarn.lock
Due: yarn prettier --check --ignore-unknown

chore: consistent env type
  src/server/env.ts
Due: yarn prettier --check --ignore-unknown, yarn eslint

feat: deps updates
  package.json
  yarn.lock
Due: yarn prettier --check --ignore-unknown

chore: added README.md and logo
  README.md
  package.json
  the-boilerplate-vue.png
  yarn.lock
Due: yarn prettier --check --ignore-unknown

feat: use vue3-router-gmc
  package.json
  src/client/router/exec-route-pre-fetch.ts
  src/client/router/extract-components.ts
  src/client/router/index.ts
  src/server/services/cache/lru.cache.ts
  yarn.lock
Due: yarn prettier --check --ignore-unknown, yarn eslint

feat: updated dependencies
  .gitignore
  .temp/redis/.gitkeep
  docker-compose.yaml
  package.json
  webpack/env.ts
  yarn.lock
Due: yarn prettier --check --ignore-unknown, yarn eslint

feat: updated dependencies
  .nvmrc
  package.json
  src/server/services/cache/lru.cache.ts
  webpack/config.server.ts
  yarn.lock
Due: yarn prettier --check --ignore-unknown, yarn eslint

fix: proper node version version in dockerfile
  Dockerfile
Due: yarn prettier --check --ignore-unknown

fix: dockerfile typo
  Dockerfile
Due: yarn prettier --check --ignore-unknown

fix: samesite for lang cookie
  src/server/middleware/language.middleware.ts
Due: yarn prettier --check --ignore-unknown, yarn eslint

chore: wip
  package.json
  src/client/components/base/base-button.vue
  src/client/components/base/base-icon.vue
  src/client/components/base/index.ts
  src/client/create-app.ts
  src/client/entry.server.ts
  src/client/pages/page-one.vue
  src/client/services/index,ts
  src/client/services/index.ts
  src/client/services/logger.service.ts
  src/server/middleware/ssr.middleware.ts
  src/server/server.ts
  src/server/services/index.ts
  src/server/services/logger.service.ts
  yarn.lock
Due: yarn prettier --check --ignore-unknown, yarn stylelint, yarn eslint

feat: logger and head management
  .stylelintrc
  package.json
  src/client/app.vue
  src/client/components/base/base-button.vue
  src/client/components/layout/layout-holly-grail.vue
  src/client/create-app.ts
  src/client/entry.browser.ts
  src/client/entry.server.ts
  src/client/services/api.service.ts
  src/client/services/index.ts
  src/client/services/logger.service.ts
  src/server/middleware/ssr.middleware.ts
  src/server/server.ts
  src/server/services/context-builder.service.ts
  src/server/services/logger.service.ts
  src/server/views/index.njk
  yarn.lock
Due: yarn prettier --check --ignore-unknown, yarn stylelint, yarn eslint

feat: logger and head (#39)
  .stylelintrc
  package.json
  src/client/app.vue
  src/client/components/base/base-button.vue
  src/client/components/base/base-icon.vue
  src/client/components/base/index.ts
  src/client/components/layout/layout-holly-grail.vue
  src/client/create-app.ts
  src/client/entry.browser.ts
  src/client/entry.server.ts
  src/client/pages/page-one.vue
  src/client/services/api.service.ts
  src/client/services/index,ts
  src/client/services/index.ts
  src/client/services/logger.service.ts
  src/server/middleware/ssr.middleware.ts
  src/server/server.ts
  src/server/services/context-builder.service.ts
  src/server/services/index.ts
  src/server/services/logger.service.ts
  src/server/views/index.njk
  yarn.lock
Due: yarn prettier --check --ignore-unknown, yarn stylelint, yarn eslint

chore: node version downgrate to latest LTS
  .nvmrc
  Dockerfile
  package.json
Due: yarn prettier --check --ignore-unknown

feat: updated dependencies
  package.json
  src/client/styles/bootstrap/_bootstrap.scss
  yarn.lock
Due: yarn prettier --check --ignore-unknown, yarn stylelint

feat: deps update and csp headers middleware
  nodemon.json
  package.json
  src/client/components/base/base-icon.vue
  src/client/pages/page-one.vue
  src/client/styles/bootstrap/_bootstrap.scss
  src/index.ts
  src/server/index.ts
  src/server/middleware/csp-headers.middleware.ts
  src/server/middleware/index.ts
  src/server/middleware/ssr.middleware.ts
  src/server/server.ts
  src/server/utils/index.ts
  src/server/utils/print-development-banner.ts
  src/server/views/index.njk
  yarn.lock
Due: yarn prettier --check --ignore-unknown, yarn stylelint, yarn eslint

fix: csp headers
  src/server/middleware/csp-headers.middleware.ts
Due: yarn prettier --check --ignore-unknown, yarn eslint

fix: csp headers with helmet
  package.json
  src/server/middleware/csp-headers.middleware.ts
  src/server/middleware/helmet.middleware.ts
  src/server/middleware/index.ts
  src/server/server.ts
  yarn.lock
Due: yarn prettier --check --ignore-unknown, yarn eslint

fix: set helmet defaults
  src/server/middleware/helmet.middleware.ts
  src/server/middleware/index.ts
  src/server/server.ts
Due: yarn prettier --check --ignore-unknown, yarn eslint

fix: set helmet defaults
  src/server/middleware/error.middleware.ts
  src/server/server.ts
Due: yarn prettier --check --ignore-unknown, yarn eslint

feat: express helmet setup
  nodemon.json
  package.json
  src/server/env.ts
  src/server/middleware/helmet.middleware.ts
  src/server/middleware/index.ts
  src/server/server.ts
  src/server/views/index.njk
Due: yarn prettier --check --ignore-unknown, yarn eslint

fix: csp fixes
  package.json
  src/server/middleware/helmet.middleware.ts
  src/server/server.ts
  src/server/views/index.njk
Due: yarn prettier --check --ignore-unknown, yarn eslint

feat: deps update
  .env.example
  .nvmrc
  Dockerfile
  package.json
  src/client/components/base/base-icon.vue
  src/client/pages/page-one.vue
  src/server/env.ts
  src/server/middleware/error.middleware.ts
  src/server/middleware/helmet.middleware.ts
  src/server/server.ts
  src/server/services/cache/redis.cache.ts
  src/server/services/context-builder.service.ts
  src/server/services/logger.service.ts
  src/server/views/404.njk
  yarn.lock
Due: yarn prettier --check --ignore-unknown, yarn stylelint, yarn eslint

feat: deps cleanup and caching tweaks
  package.json
  src/client/components/base/base-button.vue
  src/server/idempotency.config.ts
  src/server/middleware/error.middleware.ts
  src/server/middleware/ssr.middleware.ts
  src/server/services/cache/cache.service.ts
  src/server/services/context-builder.service.ts
  src/server/services/idempotency-key.service.ts
  webpack/config.browser.ts
  webpack/config.server.ts
  yarn.lock
Due: yarn prettier --check --ignore-unknown, yarn stylelint, yarn eslint

feat: deps updates
  package.json
  src/client/entry.server.ts
  src/client/index.ts
  src/client/services/logger.service.ts
  src/server/env.ts
  src/server/middleware/ssr.middleware.ts
  src/server/services/critical-css.service.ts
  src/server/services/idempotency-key.service.ts
  src/server/services/logger.service.ts
  src/server/services/ssr-assets.service.ts
  webpack/config.browser.ts
  yarn.lock
Due: yarn prettier --check --ignore-unknown, yarn eslint

feat/clean-up-deps-updates-cache-tweaks
  .env.example
  .nvmrc
  Dockerfile
  package.json
  src/client/components/base/base-button.vue
  src/client/components/base/base-icon.vue
  src/client/entry.server.ts
  src/client/index.ts
  src/client/pages/page-one.vue
  src/client/services/logger.service.ts
  src/server/env.ts
  src/server/idempotency.config.ts
  src/server/middleware/error.middleware.ts
  src/server/middleware/helmet.middleware.ts
  src/server/middleware/ssr.middleware.ts
  src/server/server.ts
  src/server/services/cache/cache.service.ts
  src/server/services/cache/redis.cache.ts
  src/server/services/context-builder.service.ts
  src/server/services/critical-css.service.ts
  src/server/services/idempotency-key.service.ts
  src/server/services/logger.service.ts
  src/server/services/ssr-assets.service.ts
  src/server/views/404.njk
  webpack/config.browser.ts
  webpack/config.server.ts
  yarn.lock
Due: yarn prettier --check --ignore-unknown, yarn stylelint, yarn eslint

Path conditions:
  yarn prettier --check --ignore-unknown: any of: *
  yarn stylelint: any of: *.{css,scss,vue,STYLELINT}
  yarn eslint: any of: *.{ts,vue,ESLINT}
