Repository b12k/the-boilerplate-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --check --ignore-unknown, yarn stylelint, yarn eslint

feat: better mobile detection
  nodemon.json
  package.json
  src/client/components/base/base-button.vue
  src/client/entry.browser.ts
  src/client/pages/page-one.vue
  src/client/utils/deserialize.ts
  src/client/utils/index.ts
  src/server/env.ts
  src/server/idempotency.config.ts
  src/server/middleware/ssr.middleware.ts
  src/server/services/context-builder.service.ts
  yarn.lock
Due: yarn prettier --check --ignore-unknown, yarn stylelint, yarn eslint

feat: modes and improvements
  .husky/pre-commit
  .husky/pre-push
  nodemon.json
  package.json
  src/client/components/base/base-button.vue
  src/client/entry.browser.ts
  src/client/pages/page-one.vue
  src/client/utils/deserialize.ts
  src/client/utils/index.ts
  src/server/env.ts
  src/server/idempotency.config.ts
  src/server/middleware/ssr.middleware.ts
  src/server/services/context-builder.service.ts
  yarn.lock
Due: yarn prettier --check --ignore-unknown, yarn stylelint, yarn eslint

fix: csp to allow eval on self scripts
  src/server/middleware/helmet.middleware.ts
Due: yarn prettier --check --ignore-unknown, yarn eslint

feat: fixed source maps
  .eslintrc
  package.json
  rspack/config.base.ts
  rspack/config.browser.ts
  src/client/entry.browser.ts
  src/client/styles/main.scss
Due: yarn prettier --check --ignore-unknown, yarn stylelint, yarn eslint

chore: deps update
  .nvmrc
  package.json
  pnpm-lock.yaml
  rspack/config.base.ts
  rspack/config.browser.ts
  src/client/styles/main.css
  src/server/middleware/helmet.middleware.ts
Due: yarn prettier --check --ignore-unknown, yarn stylelint, yarn eslint

chore: deps upgrade
  .nvmrc
  package.json
  pnpm-lock.yaml
Due: yarn prettier --check --ignore-unknown

chore: deps upgrade
  package.json
  pnpm-lock.yaml
Due: yarn prettier --check --ignore-unknown

chore: deps upgrade
  .nvmrc
  package.json
  pnpm-lock.yaml
  src/client/components/base/base-footer.vue
  src/client/components/base/base-header.vue
Due: yarn prettier --check --ignore-unknown, yarn stylelint, yarn eslint

feat: migrated to tailwind
  .postcssrc
  lint-staged.config.mjs
  package.json
  pnpm-lock.yaml
  rspack/config.browser.ts
  rspack/config.server.ts
  rspack/loaders.ts
  src/client/components/base/base-footer.vue
  src/client/components/base/base-icon.vue
  src/client/components/layout/layout-holly-grail.vue
  src/client/styles/main.css
Due: yarn prettier --check --ignore-unknown, yarn stylelint, yarn eslint

chore: removed unused linter
  package.json
Due: yarn prettier --check --ignore-unknown

chore: deps upgrade
  .nvmrc
  package.json
  pnpm-lock.yaml
  src/client/types-shim.d.ts
Due: yarn prettier --check --ignore-unknown, yarn eslint

chore: updated deps
  .nvmrc
  package.json
  pnpm-lock.yaml
  rspack/config.browser.ts
  rspack/config.server.ts
  src/client/create-app.ts
Due: yarn prettier --check --ignore-unknown, yarn eslint

chore: deps upgrade and rspack cache config refactor
  .nvmrc
  package.json
  pnpm-lock.yaml
  rspack/config.browser.ts
  rspack/config.server.ts
  rspack/utils.ts
Due: yarn prettier --check --ignore-unknown, yarn eslint

chore: deps upgrade
  .editorconfig
  package.json
  pnpm-lock.yaml
  rspack/config.browser.ts
  rspack/config.server.ts
  rspack/utils.ts
Due: yarn prettier --check --ignore-unknown, yarn eslint

chore: deps upgrade
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  rspack/config.browser.ts
  rspack/config.server.ts
  src/client/types-shim.d.ts
  tsconfig.json
Due: yarn prettier --check --ignore-unknown, yarn eslint

chore: minor deps upgrade
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: yarn prettier --check --ignore-unknown

chore: deps upgrade
  package.json
  pnpm-lock.yaml
  rspack/config.browser.ts
  src/client/create-app.ts
  src/client/entry.browser.ts
  src/client/pages/page-about.vue
  src/client/pages/page-home.vue
Due: yarn prettier --check --ignore-unknown, yarn stylelint, yarn eslint

chore: barrel experiments
  .env.example
  eslint.config.mjs
  package.json
  rspack/config.browser.ts
  rspack/config.server.ts
  rspack/env.ts
  src/client/barrel/bar.ts
  src/client/barrel/buz.ts
  src/client/barrel/common.ts
  src/client/barrel/foo.ts
  src/client/barrel/index.ts
  src/client/pages/page-about.vue
  src/client/pages/page-home.vue
Due: yarn prettier --check --ignore-unknown, yarn stylelint, yarn eslint

feat: deps upgrade and eslint barrel config
  nodemon.json
  package.json
  pnpm-lock.yaml
  src/client/barrel/bar.ts
  src/client/barrel/buz.ts
  src/client/barrel/common.ts
  src/client/barrel/foo.ts
  src/client/barrel/index.ts
  src/client/pages/page-about.vue
  src/client/pages/page-home.vue
  src/client/services/index.ts
  src/client/services/service-creators.ts
  src/server/index.ts
  src/server/server.ts
Due: yarn prettier --check --ignore-unknown, yarn stylelint, yarn eslint

feat: deps update, server restart and store change reload
  .env.example
  package.json
  pnpm-lock.yaml
  src/client/pages/page-home.vue
  src/client/router/routes.ts
  src/client/store/home.store.ts
  src/client/store/index.ts
  src/server/env.ts
  src/server/server.ts
  src/server/utils/index.ts
  src/server/utils/live-reload.ts
  src/server/views/404.njk
  src/server/views/_live-reload.njk
  src/server/views/index.njk
  tsconfig.json
Due: yarn prettier --check --ignore-unknown, yarn stylelint, yarn eslint

chore: deps update
  .env.example
  package.json
  pnpm-lock.yaml
Due: yarn prettier --check --ignore-unknown

chore: eslint update
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: yarn prettier --check --ignore-unknown

chore: deps update
  .ncurc.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  rspack/config.server.ts
  rspack/utils.ts
  src/client/entry.browser.ts
  src/client/store/context.store.ts
  src/client/types-shim.d.ts
  src/server/middleware/ssr.middleware.ts
  src/server/services/context-builder.service.ts
  src/server/services/idempotency-key.service.ts
Due: yarn prettier --check --ignore-unknown, yarn eslint

chore: bump node to 26.10
  .nvmrc
Due: yarn prettier --check --ignore-unknown

fix: rspack dev-server dep and scoped swc-node register
  nodemon.json
  package.json
  pnpm-lock.yaml
  swc-register.cjs
Due: yarn prettier --check --ignore-unknown

fix: scope swc-node register to typescript only
  swc-register.cjs
Due: yarn prettier --check --ignore-unknown

chore: rename swc register to js
  nodemon.json
  swc-register.js
Due: yarn prettier --check --ignore-unknown

chore: swc register as local package
  Dockerfile
  eslint.config.mjs
  nodemon.json
  package.json
  pnpm-lock.yaml
  swc-register.js
  tools/swc-register/index.js
  tools/swc-register/package.json
Due: yarn prettier --check --ignore-unknown

Revert "chore: swc register as local package"
  Dockerfile
  eslint.config.mjs
  nodemon.json
  package.json
  pnpm-lock.yaml
  swc-register.js
  tools/swc-register/index.js
  tools/swc-register/package.json
Due: yarn prettier --check --ignore-unknown

fix: noEmit in tsconfig
  tsconfig.json
Due: yarn prettier --check --ignore-unknown

chore: typescript 6 with strict tsconfig
  package.json
  pnpm-lock.yaml
  rspack/env.ts
  rspack/plugins.ts
  rspack/utils.ts
  src/client/entry.server.ts
  src/client/router/routes.ts
  src/client/styles-shim.d.ts
  src/server/idempotency.config.ts
  src/server/middleware/context.middleware.ts
  src/server/middleware/language.middleware.ts
  src/server/services/cache/cache.service.ts
  src/server/services/context-builder.service.ts
  src/server/services/idempotency-key.service.ts
  src/server/utils/get-language.ts
  tsconfig.json
Due: yarn prettier --check --ignore-unknown, yarn eslint

fix: keep esModuleInterop explicit for swc tooling
  tsconfig.json
Due: yarn prettier --check --ignore-unknown

chore: explicit strict in tsconfig
  tsconfig.json
Due: yarn prettier --check --ignore-unknown

chore: fix stale eslint comments
  eslint.config.mjs
Due: yarn prettier --check --ignore-unknown

chore: bump node baseline to 26
  Dockerfile
  eslint.config.mjs
  src/server/utils/string-to-base64.ts
Due: yarn prettier --check --ignore-unknown, yarn eslint

fix: pnpm workspace file in docker build
  Dockerfile
Due: yarn prettier --check --ignore-unknown

chore: accurate comment for iterator-concat rule
  eslint.config.mjs
Due: yarn prettier --check --ignore-unknown

chore: enable unicorn arrow-return and boolean-name rules
  .env.example
  eslint.config.mjs
  package.json
  rspack/config.browser.ts
  rspack/config.server.ts
  rspack/env.ts
  rspack/plugins.ts
  rspack/utils.ts
  src/client/router/routes.ts
  src/client/services/service-creators.ts
  src/client/store/home.store.ts
  src/client/utils/wait.ts
  src/server/middleware/helmet.middleware.ts
  src/server/server.ts
  src/server/utils/extract-request-property.ts
  src/server/utils/live-reload.ts
  src/server/utils/override-env.ts
  src/server/utils/print-development-banner.ts
  src/server/utils/string-to-base64.ts
  src/server/utils/wait.ts
Due: yarn prettier --check --ignore-unknown, yarn eslint

chore: drop dead no-array-for-each reference
  eslint.config.mjs
Due: yarn prettier --check --ignore-unknown

Path conditions:
  yarn prettier --check --ignore-unknown: any of: *
  yarn stylelint: any of: *.{css,scss,vue,STYLELINT}
  yarn eslint: any of: *.{ts,vue,ESLINT}
